
@Styles.Render("~/Content/bootstrap.css")
<div class="container text-center">
        <h1 class="text-center">Los Angeles County Department of Parks and Recreation </h1>
        <h2 class="text-center">Commercial/Special Event Form </h2>
    <p class="text-center">THE FOLLOWING INFORMATION IS NEEDED BY PARK STAFF IN ORDER TO PROCESS THE COMMERCIAL/SPECIAL EVENT APPLICATION AND QUOTE THE FEES AND INSURANCE REQUIRED FOR THE EVENT. THIS COMMERCIAL/SPECIAL EVENT APPLICATION WILL BE SUBMITTED TO THE SUPERINTENDENT WITH APPROVAL FROM THE COUNTY OF LOS ANGELES. THIS FORM MUST BE COMPLETED (90) NINTY DAYS PRIOR TO THE EVENT. IF NOT, YOUR EVENT MAY BE DENIED. AN INCOMPLETE AND UNSIGNED FORM WILL BE RETURNED FOR COMPLETION.</p>
    <a href="~/Home/FormPage1" type="button" class="btn btn-default"> Start</a>
</div>
