

<style>
    .post-content {
        top: 0;
        left: 0;
        position: absolute;
    }
    .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
    /*
        .column {
          float: left;
          width: 48%;
          padding: 5px;
        }
        .row::after {
              content: "";
              clear: both;
              display: table;
        }

    /* Clear floats after image containers */

    .thumbnail {
        position: relative;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(Document).ready(function () {
        $("p").each(function (index, value) {
            $("p").eq(index).html($("p").eq(index).text());
        });
    });
</script>

<title>Park Locator</title>
<center>
    <h2 style="color:navy; font-weight:bold;">Park Locator</h2>
    <br />
</center>


<!-- DYNAMIC BUTTON FOR PERMIBABLE PARKS-->
<p>
    <center>
        @foreach (Parks_SpecialEvents.Models.Event e in ViewBag.storePermitables)
        {
            <a class="btn btn-info btn-sm m-1" data-toggle="collapse" href="#@e.Href" role="button" aria-expanded="false" aria-controls="collapseExample">
                @e.E
            </a>
        }
    </center>
</p>
<br />
<br />

<p>
    <center>
        @foreach (Parks_SpecialEvents.Models.EventType e in ViewBag.eventInfo)
        {
            <a class="btn btn-info btn-sm m-1" data-toggle="collapse" href="#@e.Name" role="button" aria-expanded="false" aria-controls="collapseExample" style="background-color:navy">
                @e.Name

            </a>
        }
    </center>
</p>

@foreach (Parks_SpecialEvents.Models.Event e in ViewBag.storePermitables)
{

<div class="collapse" id="@e.Href">
    
    
    <br /> 
    <center>
        <h3 style="color:navy; font-weight:bold;">Park Locator</h3>

        @{int count = 0;}

        @foreach (Parks_SpecialEvents.Models.Park p in ViewBag.storeParks.parks)
        {
            @if (p.Event == e.E)
            {
                if (count == 0)
                {
                    @:<div class="row">
                    }

                          <div class="column">
                              <a asp-controller="Park" asp-action="ParkAsync" asp-route-id=@p.ID>
                                  <img height="300" width="450" src=@Url.Content(p.Image) />
                              </a>
                              <br />
                              
                              <h5 style="color:black; font-weight:bold;">@p.ParkName</h5>

                          </div>
                    count++;

                    if (count == 2)
                    {
                    @:</div>
                    count = 0;
                }


            }
        }
    </center>

















</div>


}




<!-- CONTACT INFORMATION-->
<address>
    <strong>
        <a href="mailto:EMAIL@gmail.com">Contact</a>
    </strong>
</address>