!.gitignore
!/Parks_SpecialEvents/wwroot/images/*
!/Parks_SpecialEvents/wwroot/css/*
!/Parks_SpecialEvents/Controllers/*
!/Parks_SpecialEvents/Models/*
!/Parks_SpecialEvents/Views/*
!/Startup/*
/obj/Debug/**
/.vs/**
!*.jpg
!*.png
!/SQL_Inputs/*
*
