<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Special Events</title>

    @Styles.Render("~/Content/css")

    <style>
        ul {
            list-style-type: none;
            overflow: hidden;
            background-color: #f7f7f7;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: black;
                text-align: center;
                padding: 20px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: black;
                    color: white;
                    text-decoration: none;
                }
    </style>

</head>

<body id="T">
    <img src="https://csns.calstatela.edu/download?fileId=7372404" style="margin-top: -50px">

    <ul style="letter-spacing: 0.1em;">
        <li><a href="/Home/Index"><b>SPECIAL EVENT MAIN PAGE</b></a></li>
        <li><a href="/Questions"><b>SPECIAL EVENT FAQ'S</b></a></li>
        <li><b><a href="/Home/Facilities">SPECIAL EVENT FACILITIES</a></b></li>
        <li><b><a href="/Home/MasterAgreement">MASTER AGREEMENT FOR SPECIAL EVENTS</a></b></li>
    </ul>

    <div class="container body-content">
        @RenderBody()
    </div>

    <img src="https://csns.calstatela.edu/download?fileId=7372403" style="margin-bottom: -50px">

</body>
</html>