
@{
    ViewBag.Title = "Index";
}

<h2>Tables</h2>

<form>
    <input type="text" name="searchQuery" value="Enter Keyword">
    <input type="submit" value="Submit">
</form>

<table>
    <tr>
        <th>Question</th>
    </tr>
    @foreach (FAQSearch.Models.QuestionModel item in ViewBag.storing.questions)
    {
        <tr>
            <td>@item.QuestionText</td>
        </tr>
    }
</table>