
@model Parks_SpecialEvents.Models.AzurePark

<div class="alert alert-success" role="alert">
    Successfully added @Model.ParkName to the DataBase!
</div>

<h2>Add Amenities: @Model.ParkName</h2>

<form asp-controller="Admin" asp-action="AddAmenitiesToPark" asp-route-parkID="@Model.ParkID">

    <div>
        <!-- AMENITIES -->

        <div class="form-group">
            <label for="exampleFormControlSelect2">Select Amenities:<code> (Hold command to select multiple amenities)</code></label>

            <select multiple class="form-control" id="exampleFormControlSelect2" size="5" name="AMENITIES">

                @foreach (string amenity in ViewBag.amenities)
                {
                    <option>@amenity</option>
                }

            </select>
        </div>
    </div>

    <input type="submit" value="Add Amenities" class="btn alert-success" />

</form>


