@model Parks_SpecialEvents.Models.AzurePark

<h2 class="display-3">Add Park</h2>

<form asp-controller="Admin" asp-action="AddPark">

    <div class="container">

        <!-- PARK NAME -->
        <div class="form-row">

            <!-- FIRST NAME: PARK NAME -->
            <div class="form-group col-md-4">
                <label>Park Name</label>
                <input type="text" class="form-control" placeholder="Elysian Park" asp-for="ParkName">
            </div>

            <!-- LAST NAME: PARK LAST NAME -->
            <div class="form-group col-md-4">
                <label>Park Last Name</label>
                <input type="text" class="form-control" placeholder="Elysian Park" asp-for="ParkLastName">
            </div>

            <!-- PARKID -->
            <div class="form-group col-md-4">
                <label>ParkID</label>
                <input type="text" class="form-control" placeholder="EP" asp-for="ParkID">
            </div>

        </div>

        <!-- PARK ADDRESS -->
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" placeholder="1234 Main St" asp-for="Address">
        </div>

        <!-- PARK INFO -->
        <div class="form-row">

            <!-- STREET NUMBER -->
            <div class="form-group col-md-3">
                <label>Street Number</label>
                <input type="text" class="form-control" placeholder="1234" asp-for="StreetNumber">
            </div>

            <!-- STREET NAME -->
            <div class="form-group col-md-3">
                <label>Street Name</label>
                <input type="text" class="form-control" placeholder="Main St" asp-for="StreetName">
            </div>

            <!-- CITY -->
            <div class="form-group col-md-3">
                <label>City</label>
                <input type="text" class="form-control" placeholder="Los Angeles" asp-for="City">
            </div>

            <!-- ZIPCODE -->
            <div class="form-group col-md-3">
                <label>Zip Code</label>
                <input type="text" class="form-control" placeholder="90201" asp-for="Zip">
            </div>

        </div>

        <!-- FACAILITY PHONE NUMBER -->
        <div class="form-group">
            <label>Facaility Phone Number</label>
            <input type="text" class="form-control" placeholder="(123) 123-1234" asp-for="FacilityPhone">
        </div>

        <!-- GIS ACRES -->
        <div class="form-row">
            <!-- GIS ACRES -->
            <div class="form-group col-md-6">
                <label>GIS Acres</label>
                <input type="text" class="form-control" placeholder="12659.74214" asp-for="GISAcres">
            </div>

            <!-- INVENTORY ACRES -->
            <div class="form-group col-md-6">
                <label>Inventory Acres</label>
                <input type="text" class="form-control" placeholder="12659.74214" asp-for="InventoryAcres">
            </div>
        </div>

        <!-- PARK THUMBNAIL -->
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" asp-for="Image">
            <label class="custom-file-label" for="customFile">Park Thumbnail</label>
        </div> <br />

        <!-- CHOOSE PARK IMAGES -->
        <div class="custom-file">
            <input multiple="multiple" type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose Park Images</label>
        </div>

        <!-- FANCY CHECK BOX !-->

        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Flag Park</label>
        </div>

    </div>

    <input type="submit" value="Add Park" class="btn btn-success"/>
    
</form>