@model Parks_SpecialEvents.Models.AzurePark

<h2 class="display-3">Add Park</h2>

<form asp-controller="Admin" asp-action="AddPark" enctype="multipart/form-data">

    <div class="container">

        <!-- PARK NAME -->
        <div class="form-row">

             <!-- FIRST NAME: PARK NAME -->


            <div class="form-group col-md-4">
                <label>Park Name</label>
                <input type="text" class="form-control" placeholder="Elysian Park" asp-for="ParkName" required>
            </div>


            <!-- LAST NAME: PARK LAST NAME -->
            <div class="form-group col-md-4">
                <label>Park Last Name</label>
                <input type="text" class="form-control" placeholder="Elysian Park" asp-for="ParkLastName" required>
            </div>

            <!-- PARKID -->
            @if(Model.ParkID == null) {
                <div class="form-group col-md-4">
                    <label>ParkID</label>
                    <input type="text" class="form-control" placeholder="EP" asp-for="ParkID" required>
                </div>
            } else {
                <div class="form-group col-md-4">
                    <label for="validationServer04">ParkID</label>
                    <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="EP" value="@Model.ParkID" asp-for="ParkID" required>
                    <div class="invalid-feedback">
                        ParkID is taken, please use another ID.
                    </div>
                </div>
            }

        </div>

        <!-- PARK ADDRESS -->
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" placeholder="1234 Main St" asp-for="Address" required>
        </div>

        <!-- PARK INFO -->
        <div class="form-row">

            <!-- STREET NUMBER -->
            <div class="form-group col-md-3">
                <label>Street Number</label>
                <input type="text" class="form-control" placeholder="1234" asp-for="StreetNumber" required>
            </div>

            <!-- STREET NAME -->
            <div class="form-group col-md-3">
                <label>Street Name</label>
                <input type="text" class="form-control" placeholder="Main St" asp-for="StreetName" required>
            </div>

            <!-- CITY -->
            <div class="form-group col-md-3">
                <label>City</label>
                <input type="text" class="form-control" placeholder="Los Angeles" asp-for="City" required>
            </div>

            <!-- ZIPCODE -->
            <div class="form-group col-md-3">
                <label>Zip Code</label>
                <input type="text" class="form-control" placeholder="90201" asp-for="Zip" required>
            </div>

        </div>

        <!-- LAT LNG-->
        <div class="alert alert-info" role="alert">
            Longitude and Latitude are used to display the park on google maps. If no field is entered for
            Longitude and Latitude the program will get the Coordinates of the added park. If no coordinates
            generated, the park will not diplay the google maps on the park's page.
        </div>

        <div class="form-row">
            <!-- LATITUDE -->
            <div class="form-group col-md-6">
                <label>Latitude</label>
                <input type="text" class="form-control" placeholder="34.0838" asp-for="Lat">
            </div>

            <!-- LONGITUDE -->
            <div class="form-group col-md-6">
                <label>Longitude</label>
                <input type="text" class="form-control" placeholder="118.2366" asp-for="Lng">
            </div>
        </div>

        <!-- FACAILITY PHONE NUMBER -->
        <div class="form-group">
            <label>Facaility Phone Number</label>
            <input type="text" class="form-control" placeholder="(123) 123-1234" asp-for="FacilityPhone" required>
        </div>

        <!-- GIS ACRES -->
        <div class="form-row">
            <!-- GIS ACRES -->
            <div class="form-group col-md-6">
                <label>GIS Acres</label>
                <input type="text" class="form-control" placeholder="12659.74214" asp-for="GISAcres">
            </div>

            <!-- INVENTORY ACRES -->
            <div class="form-group col-md-6">
                <label>Inventory Acres</label>
                <input type="text" class="form-control" placeholder="12659.74214" asp-for="InventoryAcres">
            </div>
        </div>

        <!-- PARK THUMBNAIL -->
        <div class="custom-file">
            <input type="file" class="custom-file-input" asp-for="Image" required>
            <label class="custom-file-label" for="customFile">Park Thumbnail</label>
        </div> <br />

        <!-- FANCY CHECK BOX !-->

        <!--
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Flag Park</label>
        </div>
        -->

    </div> <br />

    <input type="submit" value="Add Park" class="btn btn-success"/>
    
</form>