
<h2>Parks</h2>

<form>
    <a class="btn btn-light" asp-controller="Admin" asp-action="AddParkRazor">Add a new Park</a>
    <br /> <br />

    <!-- TABLE OF PARKS -->
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ParkID</th>
                <th scope="col">Park</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AzurePark park in ViewBag.parks)
            {
                <tr>
                    <td>@park.ParkID</td>
                    <td>@park.ParkName</td>
                    <td>
                        <a asp-controller="Admin" asp-action="UpdateParkRazor" asp-route-parkID="@park.ParkID">Edit</a>
                        |
                        <a asp-controller="Admin" asp-action="DeleteParkRazor" asp-route-parkID="@park.ParkID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>