
<h2>Delete Amenity</h2>

<form asp-controller="Admin" asp-action="Delete">

    <select name="parkName">
        <option value="EMPTY">Select Park</option>
        @foreach(Parks_SpecialEvents.Models.Park park in ViewBag.Parks.parks)
         {
            <option>
                @park.ParkName
            </option>
         }
    </select>

    <select name="amenity">
        <option >Amenities</option>
        @foreach (Parks_SpecialEvents.Models.Amenity amenity in ViewBag.Amenities.amenities)
        {
            <option>
                @amenity.Amen
            </option>
        }
    </select>

    <input class="btn btn-danger" type="submit" value="DELETE"/>
</form>
