
<h2>Admin</h2>

<nav>
    <!--
    <a class="btn btn-light" asp-controller="Admin" asp-action="AddAmenity">Add Amenity to a Park</a>
    <a class="btn btn-light" asp-controller="Admin" asp-action="DeleteAmenity">Delete Amenity</a>
    <a class="btn btn-light" asp-controller="Admin" asp-action="UpdateAmenity">Update an Amenity</a>
    -->

    <!--
        <a class="btn btn-light">Add Park</a>
    -->
    <a class="btn btn-light" asp-controller="Admin" asp-action="UpdateParkIndexRazor">Edit Park</a>
</nav>
