
@model Parks_SpecialEvents.Models.ParkEventModel

<h2>Update @ViewBag.ParkName</h2>
<div class="container">
    <form asp-controller="Admin" asp-action="EditPark" method="post">
        
        <h3>Special Events</h3>

        <div class="container">
            <select multiple class="form-control" name="EVENTS">
      
             @foreach (Parks_SpecialEvents.Models.Event e in ViewBag.Events)
                {
                    @if (e.Flag == true)
                    {
                        <option selected="selected">@e.E</option>
                    }
                    else
                    {
                        <option>@e.E</option>
                    }
                }
            </select>
        </div>
        
        <input type="submit" value="Update Park" class="btn btn-success" />
    </form>

</div>