
<h2>Update Park</h2>

<form asp-controller="Admin" asp-action="UpdateParkRazor">
    <select name="parkID">
        <option value=-1>Park</option>

        @foreach(Parks_SpecialEvents.Models.Park park in ViewBag.Parks.parks)
        {
            <option value=@park.ID>
                @park.ParkName
            </option>
        }
    </select>

    <input type="submit" class="btn btn-success" value="Edit"/>
</form>