
@model Parks_SpecialEvents.Models.ParkEventModel

<div class="container">
    <h2>Update @ViewBag.ParkName</h2>
    <form asp-controller="Admin" asp-action="EditPark" method="post">
        <input type="text" asp-for="ParkName" value=@ViewBag.ParkName />
        <h3>Events</h3>
        @{
            List<Event> events = new List<Event>();
        }
        <div class="container">
            <select multiple class="form-control" name="EVENTS">
      
             @foreach (Parks_SpecialEvents.Models.Event e in ViewBag.Events)
                {
                    @if (e.Flag == true)
                    {
                        <option selected="selected">@e.P</option>
                        events.Add(new Event(e.P, "", true));
                    {
                        Console.WriteLine($"Events RAZOR PAGE: {events.Count}");
                    }
                    }
                    else
                    {
                        <option>@e.P</option>
                        events.Add(new Event(e.P, "", false));
                    {
                        Console.WriteLine($"Events RAZOR PAGE: {events.Count}");
                    }
                    }
                }
            </select>
        </div>

        <input type="hidden" value=@events asp-for="Events" typeof="List<Event>"/>
        <input type="submit" value="Update Park" class="btn btn-success" />
    </form>

</div>