<center>
    <h2>Park Finder</h2>
</center>
@model EFGetStarted.AspNetCore.NewDb.Models.Park
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>

    <div>
        <center>
            <form asp-controller="Park" asp-action="SearchAsync">
                <strong>Park: </strong> <input name="address" />
                <input type="submit" class="btn btn-primary" value="Search" />
            </form>
        </center>
    </div>

    <h3>@ViewBag.store.Address</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: @ViewBag.store.Lat, lng: @ViewBag.store.Lng};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 14, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbog5Hmj_SwDRN3lQWLa5Xw8OcMyzSFfw&callback=initMap"></script>
</body>