
@page
@{
}

<div>
    <h2>@ViewBag.storing.questions[0].Q</h2>

    <strong>Answer: </strong><h3>@ViewBag.storing.questions[0].Answer</h3>
</div>

<i><a asp-controller="FAQ" asp-action="Index">FAQ</a></i>

<address>
    <strong>
        <a href="mailto:josejesusgarciajr@gmail.com">Contact</a>
    </strong>
</address>